<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <%- include('partials/header.ejs'); %>
    <h1>About</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi natus dolor, minus perspiciatis sed perferendis itaque quod non consequatur. Distinctio cum quidem mollitia et nemo amet saepe beatae sit vel!</p>
</body>
</html>